export(display.xterm.colors)
export(display.ansi.colors)
export(xterm.pal)
export(xterm.pal.inv)
export(xterm.pal.rev)
export(xterm.pal.revinv)
export(display.xterm.pal)
export(display.xterm.all)
export(discrete.color)
export(style.on)
export(style.off)
export(style.default.mode)
export(style.mode)
export(style)
export(style.set)
export(style.get)
export(style.clear)
export(style.dim)
export(style.auto)
export(style.auto.demo)
export(styled.error)
export(styled.warning)
